<button mat-raised-button color="primary" routerLink="/contacts">
  <mat-icon>arrow_back</mat-icon>
  Add Contact
</button>
<ng-container *ngIf="(contact$ | async) as contact">
  <p>First name: {{contact.firstName}}</p>
  <p>Last name: {{contact.lastName | uppercase}}</p>
  <p>Email: {{contact.email}}</p>
  <p>Telephone: {{contact.telephone}}</p>
  <p>Birthday: {{contact.birthday | date: 'shortDate'}}</p>
  <p>Address: {{contact.address1}} {{contact.address2}} {{contact.address3}}</p>
</ng-container>
